Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

refactor: update 1
  .github/workflows/user-flows-ci.yml
Due: none

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

refactor: update 2
  .github/workflows/user-flows-ci.yml
Due: none

refactor: update 3
  .github/workflows/user-flows-ci.yml
Due: none

refactor: update 4
  .github/workflows/user-flows-ci.yml
Due: none

refactor: update 5
  .github/workflows/user-flows-ci.yml
Due: none

refactor: update 6
  projects/movies-user-flows/src/user-flows/ci-flow.uf.ts
Due: prettier --write

refactor: update 7
  .github/workflows/user-flows-ci.yml
Due: none

refactor: update 8
  .github/workflows/user-flows-ci.yml
Due: none

refactor: add full test logic back
  projects/movies-user-flows/src/user-flows/ci-flow.uf.ts
Due: prettier --write

fix: a11y person detail page
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/token/_typography.scss
Due: prettier --write, stylelint --fix

fix: a11y movie detail page
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.scss
  projects/movies/src/app/ui/token/_dark-light-mode.scss
Due: prettier --write, stylelint --fix

refactor: add configurable priority to movie list
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

refactor: adopt budgets for each page, refactor logic
  projects/movies-user-flows/src/configs/angular.budgets.json
  projects/movies-user-flows/src/configs/detail.budgets.json
  projects/movies-user-flows/src/configs/movie-detail.budgets.json
  projects/movies-user-flows/src/configs/movie-list.budgets.json
  projects/movies-user-flows/src/configs/person-detail.budgets.json
  projects/movies-user-flows/src/configs/test-set.json
  projects/movies-user-flows/src/internals/test-sets.ts
Due: prettier --write

refactor: adopt tests
  projects/movies-user-flows/src/internals/test-sets.ts
  projects/movies-user-flows/src/user-flows/ci-flow.uf.ts
Due: prettier --write

refactor: adopt tests 2
  projects/movies-user-flows/src/internals/test-sets.ts
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

refactor: update libs to v16-rc.1
  package-lock.json
  package.json
Due: prettier --write

refactor: update rxa
  package-lock.json
  package.json
Due: prettier --write

fix: fix dark mode toggle
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
Due: prettier --write

refactor: adopt naming of navigation user flows
  projects/movies-user-flows/src/internals/test-sets.ts
  projects/movies-user-flows/src/user-flows/navigation.uf.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
