Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

test: reduce tests 2
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

test: reduce tests 4
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
  projects/movies-user-flows/src/ufo/desktop/tool-bar.ufo.ts
Due: prettier --write

test: reduce tests 5
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: reduce tests 6
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
  projects/movies-user-flows/src/user-flows/account-feature.uf.ts
Due: prettier --write

test: reduce tests 7
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
  projects/movies-user-flows/src/user-flows/account-feature.uf.ts
Due: prettier --write

test: adopt tests 8
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: adopt tests 9
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: adopt workflow
  .github/workflows/user-flows-ci.yml
Due: none

test: adopt workflow 1
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: adopt workflow 2
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
  projects/movies-user-flows/src/user-flows/account-feature.uf.ts
Due: prettier --write

test: adopt workflow 3
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
  projects/movies-user-flows/src/user-flows/account-feature.uf.ts
Due: prettier --write

test: adopt workflow 4
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

Persist user-flow results
  approve.jpg
Due: npx @squoosh/cli --wp2 auto

test: adopt workflow 5
  projects/movies-user-flows/src/fixtures/tmdb.fixtures.ts
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: adopt workflow 6
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

Persist user-flow results
  approve.jpg
  approve2.jpg
Due: npx @squoosh/cli --wp2 auto

test: adopt workflow 7
  projects/movies-user-flows/src/fixtures/tmdb.fixtures.ts
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: adopt workflow 8
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

Persist user-flow results
  approve2.jpg
Due: npx @squoosh/cli --wp2 auto

test: adopt workflow 9
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: screenshots 1
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

test: screenshots 2
  approve.jpg
  approve2.jpg
Due: npx @squoosh/cli --wp2 auto

test: screenshots 3
  projects/movies-user-flows/src/ufo/desktop/tmdb.ufo.ts
Due: prettier --write

Persist user-flow results
  approve-visible.jpg
  login-btn-clicked.jpg
Due: npx @squoosh/cli --wp2 auto

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
