Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

perf(movie-detail): reduce layout shifts in movie-detail page
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
Due: prettier --write, stylelint --fix

refactor(movie-detail): remove this stupid shit
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
Due: prettier --write

refactor(movie-detail): remove unused import
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
Due: prettier --write

fix: movie list title
  projects/movies/src/app/data-access/api/resources/genre.resource.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
Due: prettier --write

perf: add user flow for CLS on detail navigation
  measures/user-flows/before-Cold Hot Detail Navigations.report.html
  package.json
  tooling/user-flows/commands/run-report.ts
  tooling/user-flows/flows/detail-to-detail-cold-warm-navigation.ts
  tooling/user-flows/utils.ts
Due: prettier --write

fix: GH action
  firebase.json
  package.json
Due: prettier --write

fix: back button color, move css
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/component/tabs/_tabs.scss
Due: prettier --write, stylelint --fix

fix: back button color
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
Due: prettier --write

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

fix: back button color
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.scss
Due: prettier --write, stylelint --fix

fix: back button icon
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
Due: prettier --write

feat(person-detail): start implement sort sort
  projects/movies/src/app/data-access/api/resources/discover.resource.ts
  projects/movies/src/app/data-access/api/sort/sort.data.ts
  projects/movies/src/app/data-access/api/sort/sort.interface.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/shared/state/router.state.ts
Due: prettier --write

fix: button semantics
  projects/movies/src/app/app-shell/app-shell.component.html
Due: prettier --write

perf: only load iframe if dialog opens or interaction
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
Due: prettier --write

chore: remove size-limit
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: trailer icon
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
Due: prettier --write

feat: styling select box wip
  measures/user-flows/Cold Hot Detail Navigations.report.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/shared/auth/auth.effects.ts
  projects/movies/src/app/shared/state/router.state.ts
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

feat: implement basic sorting
  projects/movies/src/app/data-access/api/sort/sort.data.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.module.ts
  projects/movies/src/app/shared/state/person.state.ts
Due: prettier --write, stylelint --fix

fix: font-size and shadow in select box
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
Due: prettier --write, stylelint --fix

fix: bump styles budget
  angular.json
Due: prettier --write

fix: fix button styles
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.scss
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

feat: cast list scroll buttons
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
Due: prettier --write, stylelint --fix

perf: bump budget
  angular.json
Due: prettier --write

Update README.md
  README.md
Due: none
