Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

refactor: svg loading 2
  projects/movies/src/app/shared/fast-icon/create-icon.model.ts
  projects/movies/src/app/shared/fast-icon/fast-icon.component.ts
  projects/movies/src/app/shared/fast-icon/fast-icon.module.ts
  projects/movies/src/app/shared/fast-icon/icon-registry.service.ts
  projects/movies/src/app/shared/fast-icon/load-svg.ssr.model.ts
  projects/movies/src/app/shared/fast-icon/token/default-token-values.ts
  projects/movies/src/app/shared/fast-icon/token/fallback-icon.token.ts
  projects/movies/src/app/shared/fast-icon/token/icon-provider.model.ts
  projects/movies/src/app/shared/fast-icon/token/icon-token.model.ts
  projects/movies/src/app/shared/fast-icon/token/load-icon-funtion.ssr.token.ts
  projects/movies/src/app/shared/fast-icon/token/suspense-icon.token.ts
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ts
Due: prettier --write

refactor: svg loading 3
  projects/movies/src/app/shared/fast-icon/fast-icon.module.ts
  projects/movies/src/app/shared/fast-icon/icon-registry.service.ts
  projects/movies/src/app/shared/fast-icon/token/default-token-values.ts
  projects/movies/src/app/shared/fast-icon/token/fallback-icon.token.ts
Due: prettier --write

refactor: polish icon component
  projects/movies/Readme.md
  projects/movies/src/app/app-shell/account-menu/account-menu.component.lazy.ts
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/app.module.ts
  projects/movies/src/app/app.server.module.ts
  projects/movies/src/app/shared/fast-icon/fast-icon.component.ts
  projects/movies/src/app/shared/fast-icon/fast-icon.module.ts
  projects/movies/src/app/shared/fast-icon/icon-registry.service.ts
  projects/movies/src/app/shared/fast-icon/ssr/fast-icon.ssr.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/transfere-state.ssr.intercepter.ts
  projects/movies/src/app/shared/fast-icon/transfere-state.intercepter.ts
  projects/movies/src/app/ui/component/icons/icon-data.ts
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ssr.ts
  projects/movies/src/app/ui/component/icons/t.json
  projects/movies/src/app/ui/token/_dark-light-mode.scss
Due: prettier --write, stylelint --fix

perf: hydrate icons from DOM
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/shared/fast-icon/fast-icon.component.ts
  projects/movies/src/app/shared/fast-icon/fast-icon.module.ts
  projects/movies/src/app/shared/fast-icon/icon-registry.service.ts
  projects/movies/src/app/shared/fast-icon/ssr/fast-icon.ssr.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/transfere-state.ssr.intercepter.ts
  projects/movies/src/app/shared/fast-icon/transfere-state.intercepter.ts
  projects/movies/src/assets/images/logo.svg
  projects/movies/src/assets/images/tmdb.svg
  projects/movies/src/assets/svg-icons/movies-logo.svg
  projects/movies/src/assets/svg-icons/tmdb-logo.svg
  projects/movies/src/index.original.html
Due: prettier --write, stylelint --fix, npx svgo -i

perf: run user flows in CI
  .github/workflows/add-user-flows-report.yml
  package-lock.json
  package.json
  projects/movies-user-flows/.user-flowrc.json
Due: prettier --write

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

Persist user-flow reports
  measures/user-flows/movie-list-page-bootstrap---cold.uf.html
  measures/user-flows/movie-list-page-category-to-detail-navigation---cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----warm.uf.html
Due: prettier --write

chore: bump size-limit
  .size-limit.js
Due: prettier --write

Persist user-flow reports
  measures/user-flows/movie-detail-page-bootstrap---cold.uf.html
  measures/user-flows/movie-list-page-bootstrap---cold.uf.html
  measures/user-flows/movie-list-page-category-to-detail-navigation---cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----warm.uf.html
Due: prettier --write

refactor: remove unused code
  projects/movies/src/app/app.server.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/fast-icon.ssr.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/transfere-state.ssr.intercepter.ts
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ssr.ts
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ts
Due: prettier --write

refactor: remove unused code
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ts
Due: prettier --write

refactor: adopt user-flow-action
  .github/workflows/add-user-flows-report.yml
Due: none

Update README.md
  README.md
Due: none

perf: fix ssr for SVG
  .github/workflows/add-user-flows-report.yml
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app.server.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/fast-icon.ssr.module.ts
  projects/movies/src/app/shared/fast-icon/ssr/transfere-state.ssr.intercepter.ts
  projects/movies/src/app/ui/component/icons/movie.icon.provider.ssr.ts
  projects/movies/src/app/ui/component/icons/t.json
  projects/movies/src/index.original.html
Due: prettier --write

chore: adopt user-flow actions
  .github/workflows/add-user-flows-report.yml
Due: none

fix: use default builder again
  angular.json
Due: prettier --write

chore: adopt action
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
Due: prettier --write

chore: adopt action
  .github/workflows/add-user-flows-report.yml
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
Due: prettier --write

chore: adopt bundle budgets
  .size-limit.js
  angular.json
Due: prettier --write

chore: adopt action
  .github/workflows/add-user-flows-report.yml
Due: none

Persist user flow reports
  measures/user-flows/movie-detail-page-bootstrap---cold.uf.html
  measures/user-flows/movie-list-page-bootstrap---cold.uf.html
  measures/user-flows/movie-list-page-category-to-detail-navigation---cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----cold.uf.html
  measures/user-flows/movie-list-page-to-list-page----warm.uf.html
Due: prettier --write

chore: adopt size-limit
  .size-limit.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
