Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

fix: build:prod:preview script
  package.json
Due: prettier --write

fix: cache key url
  projects/movies/src/main.server.cloudflare.ts
Due: prettier --write

refactor: update fast-svg
  package-lock.json
  package.json
Due: prettier --write

refactor: update override fixes
  package.json
Due: prettier --write

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

refactor: update user-flow
  package-lock.json
  package.json
Due: prettier --write

refactor: update engines config
  package-lock.json
  package.json
Due: prettier --write

refactor: update legacy user flows
  projects/movies-user-flows/src/experiments/Readme.md
  projects/movies-user-flows/src/experiments/account-feature.uf.ts
  projects/movies-user-flows/src/experiments/lcp-experiment.uf.ts
  projects/movies-user-flows/src/experiments/movie-detail-page-to-movie-detail-page-navigation--warm.uf.ts
  projects/movies-user-flows/src/old-flows/movie-detail-page--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/old-flows/movie-list-page-category--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/old-flows/movie-list-page-category-to-movie-detail-page-navigation--cold.uf.ts
  projects/movies-user-flows/src/old-flows/movie-list-page-category-to-movie-list-page-category-navigation--cold.uf.ts
  projects/movies-user-flows/src/old-flows/movie-list-page-category-to-movie-list-page-category-navigation--warm.uf.ts
Due: prettier --write

refactor: update dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: update angular
  package-lock.json
  package.json
Due: prettier --write

feat: wip cf deploy in CI
  .github/workflows/firebase-hosting-pull-request.yml
  projects/movies/src/main.ts
Due: prettier --write

feat: wip directory
  .github/workflows/firebase-hosting-pull-request.yml
  projects/movies/src/main.server.cloudflare.ts
Due: prettier --write

feat: wip directory 2
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: fix cf bundling
  cf-tools/clean-output-folder.mjs
  package.json
Due: prettier --write

refactor: setup clean app.config files and use them
  projects/movies/src/app/app.base.config.ts
  projects/movies/src/app/app.config.browser.ts
  projects/movies/src/app/app.config.firebase.ts
  projects/movies/src/app/app.config.server.ts
  projects/movies/src/main.server.ts
  projects/movies/src/main.ts
Due: prettier --write

refactor: add build step to action
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: split deploy action
  .github/workflows/cf-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: remove old files
  .wrangler/.gitignore
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/23beabba207751a82da0a68c74df4ffd8dcc236fcd3db64233ab5f867e5d807c000f42726332b3e9
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/3f8134c619bfe981b4fbe446f0645f8abc9bbe5612a40abe498e1c8f39f19fc3000f42726a58a803
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/5baa6edcff016ba408c6c0b0878885a91fc3fb553aed96ce32e1cc2ee95f6818000f4279345f8ae7
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/8876eb41d5636b7d739431e9d40eb4e6ce562c85f0f2443cb9a6b7c3aa54f945000f42793ee779c2
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/bf36bab65cb4014856511ae399715924f664c82466405da6a172fa5862ce3e4d000f427939b777de
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite-shm
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite-wal
Due: none

refactor: adopt action naming
  .github/workflows/cf-pull-request.yml
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/23beabba207751a82da0a68c74df4ffd8dcc236fcd3db64233ab5f867e5d807c000f42726332b3e9
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/3f8134c619bfe981b4fbe446f0645f8abc9bbe5612a40abe498e1c8f39f19fc3000f42726a58a803
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/5baa6edcff016ba408c6c0b0878885a91fc3fb553aed96ce32e1cc2ee95f6818000f4279345f8ae7
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/8876eb41d5636b7d739431e9d40eb4e6ce562c85f0f2443cb9a6b7c3aa54f945000f42793ee779c2
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/blobs/bf36bab65cb4014856511ae399715924f664c82466405da6a172fa5862ce3e4d000f427939b777de
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite-shm
  .wrangler/state/v3/kv/65e43921c35740269a40b2de1cc48a84/db.sqlite-wal
Due: none

refactor: fix build step for CF
  cf-tools/clean-output-folder.mjs
Due: none

refactor: gh action edit 2
  .github/workflows/cf-pull-request.yml
Due: none

refactor: gh action disabled
  .github/unfinished/cf-pull-request.yml
Due: none

feat: init nx
  .vscode/extensions.json
  angular.json
  nx.json
  package-lock.json
  package.json
  projects/movies/project.json
Due: prettier --write

feat: init ssr
  nx.json
  package-lock.json
  package.json
  projects/movies/project.json
  projects/movies/server.ts
  projects/movies/src/app/app.server.module.ts
  projects/movies/src/main.server.ts
  projects/movies/tsconfig.server.json
Due: prettier --write

feat: make additional tooling work 1
  .github/workflows/firebase-hosting-pull-request.yml
  lighthouserc.js
  login-btn-clicked.jpg
  package-lock.json
  package.json
  projects/movies/server.ts
  projects/movies/src/app/app.server.module.ts
  projects/movies/src/main.server.ts
  server.ts
Due: prettier --write, npx @squoosh/cli --wp2 auto

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
