Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

back refactor
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/index.original.html
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

Update README.md
  README.md
Due: none

user-flow wip
  package-lock.json
  package.json
  projects/movies-user-flows/src/fixtures/animations.ts
  projects/movies-user-flows/src/movie-detail-page--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/movie-list-page-category--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/movie-list-page-category-to-movie-detail-page-navigation--cold.uf.ts
  projects/movies-user-flows/src/movie-list-page-category-to-movie-list-page-category-navigation--cold.uf.ts
  projects/movies-user-flows/src/movie-list-page-category-to-movie-list-page-category-navigation--warm.uf.ts
  projects/movies-user-flows/src/ufo/desktop/side-bar.ufo.ts
  projects/movies-user-flows/src/ufo/mobile/side-bar.ufo.ts
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/shared/rxa-custom/actions/proxy.ts
Due: prettier --write

feat: add shortcut to actions
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/shared/rxa-custom/actions/actions.factory.ts
  projects/movies/src/app/shared/rxa-custom/actions/types.ts
Due: prettier --write

fix: signals in detail page
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/shared/cdk/infinite-scroll/infiniteScroll.ts
  projects/movies/src/app/shared/router/router.state.ts
  projects/movies/src/app/shared/rxa-custom/actions/proxy.ts
Due: prettier --write

wip prerender
  angular.json
  projects/movies/tsconfig.prerender.json
Due: prettier --write

fix: implement mapper for detail page
  projects/movies/src/app/data-access/api/constants/image-sizes.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-detail-page/selection/client-movie-detail.mapper.ts
  projects/movies/src/app/pages/movie-detail-page/selection/movie-cast.model.ts
  projects/movies/src/app/pages/movie-detail-page/selection/movie-detail.model.ts
  projects/movies/src/app/shared/utils/link/a-tag.interface.ts
  projects/movies/src/app/shared/utils/link/a-tag.transform.ts
Due: prettier --write

docs: add docs
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
Due: prettier --write

docs: update user flows
  measures/user-flows/movie-detail-page-bootstrap---cold.uf.html
  projects/movies-user-flows/src/movie-detail-page-to-movie-detail-page-navigation--warm.uf.ts
  projects/movies-user-flows/src/user-flows/movie-detail-page--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/user-flows/movie-list-page-category--bootstrap--cold.uf.ts
  projects/movies-user-flows/src/user-flows/movie-list-page-category-to-movie-detail-page-navigation--cold.uf.ts
  projects/movies-user-flows/src/user-flows/movie-list-page-category-to-movie-list-page-category-navigation--cold.uf.ts
  projects/movies-user-flows/src/user-flows/movie-list-page-category-to-movie-list-page-category-navigation--warm.uf.ts
Due: prettier --write

perf: css perf sidebar
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.scss
Due: prettier --write, stylelint --fix

perf: css perf toolbar
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/ui/component/search-bar/search-bar.component.scss
Due: prettier --write, stylelint --fix

perf: css perf list content
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.scss
  projects/movies/src/app/ui/token/_typography.scss
Due: prettier --write, stylelint --fix

perf: css perf list content
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
Due: prettier --write, stylelint --fix

perf: css perf detail content
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
Due: prettier --write, stylelint --fix

back refactor css performance
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/ui/component/grid-list/grid-list.component.scss
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.scss
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

back-refactor OnPush
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.component.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/pages/not-found-page/not-found-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/ui/component/backdrop/backdrop.component.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
  projects/movies/src/app/ui/component/detail-grid/detail-grid.component.ts
  projects/movies/src/app/ui/component/form-control/form-control.component.ts
  projects/movies/src/app/ui/component/grid-list/grid-list.component.ts
  projects/movies/src/app/ui/component/hamburger-button/hamburger-button.component.ts
  projects/movies/src/app/ui/component/icons/icon.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write

back-refactor OnPush
  projects/movies/src/app/ui/component/backdrop/backdrop.component.ts
  projects/movies/src/app/ui/component/detail-grid/detail-grid.component.ts
  projects/movies/src/app/ui/component/form-control/form-control.component.ts
  projects/movies/src/app/ui/component/hamburger-button/hamburger-button.component.ts
Due: prettier --write

back-refactor zone
  projects/movies/src/main.ts
Due: prettier --write

back-refactor http1
  projects/movies/src/app/data-access/api/resources/account.resource.ts
  projects/movies/src/app/data-access/api/resources/authv3.resource.ts
  projects/movies/src/app/data-access/api/resources/authv4.resource.ts
  projects/movies/src/app/data-access/api/resources/configuration.resource.ts
  projects/movies/src/app/data-access/api/resources/discover.resource.ts
  projects/movies/src/app/data-access/api/resources/genre.resource.ts
  projects/movies/src/app/data-access/api/resources/list.resource.ts
  projects/movies/src/app/data-access/api/resources/movie.resource.ts
  projects/movies/src/app/data-access/api/resources/person.resource.ts
  projects/movies/src/app/data-access/api/resources/search.resource.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/shared/auth/auth.effects.ts
  projects/movies/src/app/shared/state/account.state.ts
  projects/movies/src/app/shared/state/discover.state.ts
  projects/movies/src/app/shared/state/genre.state.ts
  projects/movies/src/app/shared/state/list.state.ts
  projects/movies/src/app/shared/state/movie.state.ts
  projects/movies/src/app/shared/state/person.state.ts
Due: prettier --write

fix: bundle budget
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
Due: prettier --write, stylelint --fix

fix: bundle budget
  angular.json
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
Due: prettier --write, stylelint --fix

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

fix: bundle budget 2
  .size-limit.js
Due: prettier --write

fix: bundle budget 3
  .size-limit.js
Due: prettier --write

fix: zone handling
  projects/movies/src/main.ts
Due: prettier --write

fix: app shell and initializer
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/state-app-initializer.provider.ts
Due: prettier --write

build(prerender): configured app for universal pre-rendering
  angular.json
  projects/movies/tsconfig.prerender.json
  projects/movies/tsconfig.server.json
  routes.txt
Due: prettier --write

refactor: removed unnecessary domino patching of DOM at server
  server.ts
Due: prettier --write

feat: use browser features to control priority and in future leverage lazy loading
  projects/movies/src/app/ui/component/icons/icon-registry.service.ts
  projects/movies/src/assets/svg-icons/account.svg
  projects/movies/src/assets/svg-icons/back.svg
  projects/movies/src/assets/svg-icons/delete.svg
  projects/movies/src/assets/svg-icons/error.svg
  projects/movies/src/assets/svg-icons/genre.svg
  projects/movies/src/assets/svg-icons/imdb.svg
  projects/movies/src/assets/svg-icons/play.svg
  projects/movies/src/assets/svg-icons/popular.svg
  projects/movies/src/assets/svg-icons/sad.svg
  projects/movies/src/assets/svg-icons/search.svg
  projects/movies/src/assets/svg-icons/top_rated.svg
  projects/movies/src/assets/svg-icons/upcoming.svg
  projects/movies/src/assets/svg-icons/website.svg
Due: prettier --write, npx svgo -i
