Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

feat: add back link from list details
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.scss
Due: prettier --write, stylelint --fix

feat: add and remove movie from search results
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
Due: prettier --write, stylelint --fix

Persist stats.json and bundle-size report
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

perf: adopt bundle budget
  angular.json
Due: prettier --write

Update README.md
  README.md
Due: none

refactor: extract global styles
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.scss
  projects/movies/src/app/pages/not-found-page/not-found-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.scss
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

perf: bump budget
  angular.json
Due: prettier --write

perf: test boot on interaction
  projects/movies/src/main.ts
Due: prettier --write

perf: test boot on interaction 2
  projects/movies/src/main.ts
Due: prettier --write

perf: test boot on interaction revert
  projects/movies/src/main.ts
Due: prettier --write

docs: add script to update bundle stats in readme
  README.md
  measures/bundle-size/bundle-size-report.prod.html
  package.json
  tooling/bundle-stats/Readme.md
  tooling/bundle-stats/commands/update-docs.ts
  tooling/bundle-stats/index.ts
  tooling/bundle-stats/utils.ts
  tooling/cli/index.ts
  tooling/cli/model.ts
  tooling/cli/utils.ts
  tooling/user-flows/Readme.md
  tooling/user-flows/commands/run-report.ts
Due: prettier --write

docs: add user flow
  dist/user-flows/Category Navigations.report.html
  dist/user-flows/Main movie-list cold-warm navigations.report.html
  dist/user-flows/Movie-detail cold-warm navigations.report.html
  projects/movies/src/app/app-shell/app-shell.component.html
  tooling/user-flows/commands/run-report.ts
  tooling/user-flows/flows/category-to-category-cold-navigation.ts
  tooling/user-flows/flows/navigation-category-to-category-detail-cold.ts
Due: prettier --write

fix: improve items edit ui
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.module.ts
  projects/movies/src/app/ui/token/_dark-light-mode.scss
Due: prettier --write, stylelint --fix

fix: add borders to search result items
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
Due: prettier --write, stylelint --fix

refactor: adjust sidebar styles
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

refactor(app-shell): fix toolbar styles
  projects/movies/src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

refactor(app-shell): fix account menu styles
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/account-menu/account-menu.component.scss
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/ui/token/variables/_shadow.scss
Due: prettier --write, stylelint --fix

docs: update bundle budget
  angular.json
Due: prettier --write

Create README.md
  README.md
Due: none

fix: rating rounding and half stars
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
