Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

Persist stats.json and bundle-size report
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

refactor: typing
  projects/movies/src/app/shared/cdk/loading/loading-state.interface.ts
  projects/movies/src/app/shared/rxa-custom/get.ts
  projects/movies/src/app/shared/state/movie.state.ts
  projects/movies/src/app/shared/state/person.state.ts
Due: prettier --write

docs: bundle size update
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

feat: account menu progress
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/account-menu/account-menu.component.scss
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/data-access/api/resources/account.resource.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/shared/state/movie.state.ts
Due: prettier --write, stylelint --fix

refactor: auth
  projects/movies/src/app/data-access/auth/auth-state.model.ts
  projects/movies/src/app/data-access/auth/auth.effects.ts
  projects/movies/src/app/data-access/auth/auth.guard.ts
  projects/movies/src/app/data-access/auth/auth.state.ts
  projects/movies/src/app/data-access/auth/read-access.interceptor.ts
  projects/movies/src/app/data-access/auth/utils.ts
Due: prettier --write

wip account-menu component
  angular.json
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app.module.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/shared/auth/auth-state.model.ts
  projects/movies/src/app/shared/auth/auth.effects.ts
  projects/movies/src/app/shared/auth/auth.guard.ts
  projects/movies/src/app/shared/auth/auth.state.ts
  projects/movies/src/app/shared/auth/content-type-json.interceptor.ts
  projects/movies/src/app/shared/auth/read-access.interceptor.ts
  projects/movies/src/app/shared/auth/tmdb-http-interceptor.providers.ts
  projects/movies/src/app/shared/auth/utils.ts
Due: prettier --write

feat: implement component lazy loading
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/account-menu/account-menu.component.lazy.ts
  projects/movies/src/app/app-shell/account-menu/account-menu.component.scss
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/app.routing.ts
Due: prettier --write, stylelint --fix

feat: implement component lazy loading
  projects/movies/src/app/app-shell/account-menu/account-menu.component.lazy.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
Due: prettier --write

feat: component lazy loading helper
  projects/movies/src/app/shared/cdk/lazy-component/lazy-component.directive.ts
  projects/movies/src/app/shared/cdk/lazy-component/lazy-component.module.ts
  projects/movies/src/app/shared/rxa-custom/input-type.typing.ts
Due: prettier --write

docs: document lazy module
  projects/movies/src/app/app-shell/account-menu/account-menu.component.lazy.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
Due: prettier --write

polish
  projects/movies/src/app/app-shell/account-menu/account-menu.component.lazy.ts
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/shared/cdk/lazy-component/lazy-component.module.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.directive.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.module.ts
Due: prettier --write

fix: rename class
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/shared/cdk/lazy-component/lazy-component.module.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.directive.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.module.ts
Due: prettier --write

perf: setup size limit locally
  .github/workflows/size-limit.yml
  .size-limit.js
  angular.json
  package.json
Due: prettier --write

perf: setup size limit locally
  package-lock.json
Due: prettier --write

perf: setup size limit locally
  .github/workflows/size-limit.yml
Due: none

actions 1
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/size-limit.yml
Due: none

actions 2
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

actions test 1
  projects/movies/src/app/app.routing.ts
Due: prettier --write

actions test 2
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

actions test 3
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

test pr
  README.md
Due: none

fix: genre lists
  projects/movies/src/app/shared/state/discover.state.ts
Due: prettier --write

revert remove tmdb green logo variant
  projects/movies/src/assets/svgs/tmdbgreen.svg
Due: npx svgo -i

fix: auth
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/data-access/auth/auth.state.ts
Due: prettier --write
