Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

move files
  measures/bundle-size/bundle-size-report.prod.html
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.html
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.scss
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.module.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-delete/list-delete.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-delete/list-delete.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-delete/list-delete.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.module.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.module.ts
  projects/movies/src/app/ui/pattern/list-edit-form/list-edit-form.adapter.ts
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.adapter.ts
Due: prettier --write, stylelint --fix

Persist stats.json and bundle-size report
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

perf: update packages drop custom code
  measures/bundle-size/_bundle-size-report.prod.html
  package-lock.json
  package.json
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app-shell/app-shell.module.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.module.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/shared/auth/auth.state.ts
  projects/movies/src/app/shared/cdk/infinite-scroll/infiniteScroll.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.directive.ts
  projects/movies/src/app/shared/rxa-custom/rx-for/rx-for.directive.ts
  projects/movies/src/app/shared/rxa-custom/rx-for/rx-for.module.ts
  projects/movies/src/app/shared/rxa-custom/rxa.provider.ssr.ts
  projects/movies/src/app/shared/state/discover.state.ts
  projects/movies/src/app/shared/state/genre.state.ts
  projects/movies/src/app/shared/state/movie.state.ts
  projects/movies/src/app/shared/state/person.state.ts
  projects/movies/src/app/shared/state/router.state.ts
  projects/movies/src/app/shared/zone-less/zone-less-routing.service.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.module.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.module.ts
  tooling/user-flows/utils.ts
Due: prettier --write

perf: update bundle budget
  angular.json
Due: prettier --write

chore: merge main
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.module.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.routes.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.module.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.routes.ts
  projects/movies/src/app/pages/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/ui/component/tabs/tabs.component.ts
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.component.ts
Due: prettier --write

fix(lists): proper routing and ngFor syntax
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.html
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.module.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.routes.ts
  projects/movies/src/app/shared/state/list.state.ts
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.component.ts
Due: prettier --write

fix(lists): change redirect urls
  projects/movies/src/app/shared/state/list.state.ts
Due: prettier --write

test
  projects/movies/src/app/app-shell/app-shell.component.html
Due: prettier --write

build firebase deploy preview
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: use lazy-loaded routes
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/data-access/api/model/list.model.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.html
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.scss
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-delete/list-delete.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.module.ts
  projects/movies/src/app/shared/state/list.state.ts
  projects/movies/src/app/ui/component/tabs/tabs.component.scss
  projects/movies/src/app/ui/component/tabs/tabs.component.ts
  projects/movies/src/app/ui/pattern/list-edit-form/list-edit-form.component.html
  projects/movies/src/app/ui/pattern/list-edit-form/list-edit-form.component.ts
  projects/movies/src/app/ui/pattern/list-items-edit/list-items-edit.component.ts
Due: prettier --write, stylelint --fix

build build preview script with index renaming
  .github/workflows/firebase-hosting-pull-request.yml
  package.json
Due: prettier --write

fix: add images to the list
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.module.ts
  projects/movies/src/styles.scss
Due: prettier --write, stylelint --fix

feat: add list cover selection
  projects/movies/src/app/data-access/api/constants/image-sizes.ts
  projects/movies/src/app/data-access/api/model/list.model.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.html
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.module.ts
  projects/movies/src/assets/images/nothing.svg
Due: prettier --write, stylelint --fix, npx svgo -i

fix: bump budget
  .size-limit.js
Due: prettier --write

fix: update rx-angular imports
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/shared/state/list.state.ts
Due: prettier --write

fix: reduce list-items-edit bundle size
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
Due: prettier --write

fix: enable onPush for list remove
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
Due: prettier --write

fix: reduce bundle
  measures/bundle-size/bundle-size-report.prod.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.scss
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.module.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/component/tabs/tabs.component.ts
Due: prettier --write, stylelint --fix

fix: add only items that are not in the list
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
Due: prettier --write

fix: fix redirect
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/shared/auth/auth.state.ts
Due: prettier --write

fix: improve account hover
  projects/movies/src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

fix: reset list edit form state
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
Due: prettier --write

fix: reduce padding gap
  projects/movies/src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

fix: proper fallback for moview without poster
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
