Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

refactor: firebase ng configuration 3
  projects/movies/src/index.ts
  projects/movies/src/main.server.ts
  projects/ng-universal-express/src/app/app.config.ts
  projects/ng-universal-express/src/app/bootstrap.ts
Due: prettier --write

Persist stats.json bundle-size report and readme
  README.md
Due: none

refactor: ng configuration 1
  projects/movies/src/app/app.component.standlaone.ts
  projects/movies/src/app/app.config.browser.ts
  projects/movies/src/app/app.config.ts
  projects/movies/src/index.ts
  projects/movies/src/main.ts
Due: prettier --write

refactor: ng configuration for firebase 1
  .github/workflows/ci.yml
  package.json
  projects/cloudflare-worker/project.json
Due: prettier --write

refactor: ng configuration for firebase 2
  projects/cloudflare-worker/src/cf-tools/bundle.mjs
  projects/cloudflare-worker/src/cf-tools/clean-output-folder.mjs
  projects/cloudflare-worker/src/cf-tools/copy-client-files.mjs
  projects/cloudflare-worker/src/cf-tools/copy-worker-files.mjs
  projects/cloudflare-worker/src/cf-tools/paths.mjs
Due: none

refactor: ng configuration for firebase 3
  .github/workflows/ci.yml
  nx.json
  projects/movies/src/index.ts
  projects/movies/src/main.ts
Due: prettier --write

refactor: ng configuration for cloudflare 1
  .github/workflows/cloudflare-hosting-pull-request.yml
  cf-tools/copy-client-files.mjs
  cf-tools/paths.mjs
  package.json
  projects/cloudflare-worker/project.json
  projects/cloudflare-worker/tooling/bundle.mjs
  projects/cloudflare-worker/tooling/clean-output-folder.mjs
  projects/cloudflare-worker/tooling/paths.mjs
  projects/cloudflare-worker/tooling/utils.mjs
  projects/firebase-function/project.json
  projects/movies-user-flows/project.json
  projects/movies/src/main.server.cloudflare.ts
Due: prettier --write

refactor: ng configuration for cloudflare 2
  .github/workflows/cloudflare-hosting-pull-request.yml
Due: none

refactor: cleanup 1
  approve-visible.jpg
  projects/movies-user-flows/project.json
  projects/ng-universal-express/project.json
  projects/ng-universal-express/tooling/generate-routes/generate-routes.ts
  projects/ng-universal-express/tsconfig.app.json
  projects/ng-universal-express/tsconfig.serve.json
  projects/ng-universal-express/tsconfig.tooling.json
  webpack.config.js
Due: prettier --write, npx @squoosh/cli --wp2 auto

refactor: cleanup 2
  projects/cloudflare-worker/project.json
Due: prettier --write

refactor: add user-flow setup to all applications
  CONTRIBUTING.md
  nx.json
  projects/firebase-function/.user-flowrc.json
  projects/firebase-function/project.json
  projects/movies-user-flows/src/index.ts
  projects/movies-user-flows/src/internals/test-sets.ts
  projects/movies-user-flows/src/user-flows/navigation.uf.ts
  projects/movies/.user-flowrc.json
  projects/movies/project.json
  projects/ng-universal-express/.user-flowrc.json
  projects/ng-universal-express/project.json
  tsconfig.json
Due: prettier --write

refactor: polish user-flow setup configurations
  nx.json
  projects/firebase-function/project.json
  projects/movies-user-flows/project.json
  projects/movies/.user-flowrc.json
  projects/movies/project.json
  projects/ng-universal-express/project.json
  projects/ng-universal-express/src/app/bootstrap.ts
Due: prettier --write

refactor: update docs
  CONTRIBUTING.md
Due: none

refactor: add new project files
  projects/movies-user-flows/.eslintrc.json
  projects/movies-user-flows/README.md
  projects/movies-user-flows/package.json
  projects/movies-user-flows/project.json
  projects/movies-user-flows/src/index.ts
  projects/movies-user-flows/tsconfig.json
  projects/movies-user-flows/tsconfig.lib.json
Due: prettier --write

Fix: Small bug in dark mode toggle component. #130
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
Due: prettier --write

refactor: refactor 2
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: refactor gh action 3
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: refactor gh action 4
  projects/movies-user-flows/.user-flowrc.json
Due: prettier --write

refactor: refactor gh action 5
  projects/ng-universal-express/project.json
  projects/ng-universal-express/src/index.ts
Due: prettier --write

refactor: refactor gh action 6
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: merge master
  CONTRIBUTING.md
Due: none

refactor: polish project.json and ts configs
  .github/workflows/cloudflare-hosting-pull-request.yml
  projects/cloudflare-worker/project.json
  projects/firebase-function/project.json
  projects/firebase-function/tsconfig.function.json
  projects/firebase-function/tsconfig.json
  projects/movies-user-flows/project.json
  projects/ng-universal-express/project.json
Due: prettier --write

refactor: refactor docs generation
  .github/workflows/docs-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  projects/docs/.eslintrc.json
  projects/docs/README.md
  projects/docs/project.json
  projects/docs/tooling/bundle-stats/Readme.md
  projects/docs/tooling/bundle-stats/commands/update-docs.ts
  projects/docs/tooling/bundle-stats/index.ts
  projects/docs/tooling/bundle-stats/utils.ts
  projects/docs/tsconfig.tooling.json
  projects/movies-user-flows/project.json
  projects/movies/project.json
  tooling/generate-routes/generate-routes.ts
  tsconfig.json
Due: prettier --write

refactor: fix generator script
  README.md
  projects/docs/tsconfig.tooling.json
Due: prettier --write

refactor: refactor generate routes
  projects/ng-universal-express/project.json
  projects/ng-universal-express/tooling/generate-routes/generate-routes.ts
  projects/ng-universal-express/tsconfig.tooling.json
Due: prettier --write

refactor: refactor actions
  .github/workflows/docs-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactor: add migrations, update packages
  migrations.json
  package-lock.json
  package.json
Due: prettier --write
