Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix, ts-node -P ./tooling/tsconfig.json ./tooling/squoosh/index.ts -p / -g=wp2

fix: adopt lint-staged rules
  .lintstagedrc.json
  projects/movies/src/assets/images/poster_available.jpg
  tooling/user-flow-cli.ts
Due: prettier --write, tslint --fix, ts-node -P ./tooling/tsconfig.json ./tooling/squoosh/index.ts -p / -g=wp2

perf: add squoosh scripts to tooling
  package-lock.json
  package.json
  tooling/cli/index.ts
  tooling/cli/model.ts
  tooling/cli/utils.ts
  tooling/squoosh/commands/run-glob-squooshing.ts
  tooling/squoosh/index.ts
Due: prettier --write, tslint --fix

perf: adopt used URL to new one
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
Due: prettier --write

docs: start squoosh integratin docs
  docs/setup-image-optimization.md
Due: none

perf: setup lint-staged rules rules
  .lintstagedrc.json
Due: prettier --write

perf: add helper script
  package.json
  tooling/squoosh/commands/run-glob-squooshing.ts
Due: prettier --write, tslint --fix

Persist stats.json and bundle-size report
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

perf: fix search logic, reduce event listener
  projects/movies/src/app/ui/atoms/search-bar/search-bar.component.ts
Due: prettier --write, tslint --fix

refactor: add cache for observables
  projects/movies/src/app/shared/rxa-custom/actions/index.ts
Due: prettier --write, tslint --fix

merge master
  projects/movies/src/app/ui/atoms/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
Due: prettier --write, tslint --fix

fix merge master
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.html
  projects/movies/src/app/ui/component/search-bar/search-bar.module.ts
Due: prettier --write, tslint --fix

refactor: implement macro architecture
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.module.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/shared/state/router-effects.service.ts
  projects/movies/src/app/shared/state/router-state.service.ts
  projects/movies/src/app/shared/state/state.service.ts
  projects/movies/src/app/shared/state/utils.ts
  projects/movies/src/app/ui/component/detail-grid/detail-grid.module.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

refactor: fix detail adapter
  projects/movies/src/app/data-access/api/tmdb2.service.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/shared/state/state.service.ts
Due: prettier --write, tslint --fix

refactor: fix detail adapter mapper
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
Due: prettier --write, tslint --fix

perf: start setup eslint rules to restrict import direction
  angular.json
  package-lock.json
  package.json
  projects/movies/src/app/pages/movie-list-page/.eslintrc.json
Due: prettier --write

perf: start setup eslint rules to restrict import direction
  projects/movies/.eslintrc.json
Due: prettier --write

chore: update eslint dependencies and config
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  projects/movies/.eslintrc.json
  projects/movies/src/app/pages/movie-list-page/.eslintrc.json
Due: prettier --write

chore: fix eslint config
  .eslintrc.json
Due: prettier --write

refactor: aligned selectors with architecture, setup lint rules
  .eslintrc.json
  angular.json
  package-lock.json
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/pages/.eslintrc.json
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/.eslintrc.json
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.html
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/ui/.eslintrc.json
  projects/movies/src/app/ui/component/aspect-ratio-box/aspect-ratio-box.component.ts
  projects/movies/src/app/ui/component/backdrop/backdrop.component.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
  projects/movies/src/app/ui/component/detail-grid/detail-grid.component.ts
  projects/movies/src/app/ui/component/form-control/form-control.component.ts
  projects/movies/src/app/ui/component/hamburger-button/hamburger-button.component.ts
  projects/movies/src/app/ui/component/icons/search/search-icon.component.ts
  projects/movies/src/app/ui/component/loader/loader.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.scss
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/component/star-rating/star-rating.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: remove obsutete config
  projects/movies/src/app/pages/.eslintrc.json
Due: prettier --write

perf: adjust bundle size
  angular.json
Due: prettier --write

feat: person detail page
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/app.routing.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.module.ts
  projects/movies/src/app/shared/state/router-effects.service.ts
  projects/movies/src/app/shared/state/state.service.ts
Due: prettier --write, tslint --fix, stylelint --fix

fix: person detail styles
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
Due: prettier --write, stylelint --fix

refactor: polish css. reduce bundle size
  projects/movies/src/app/ui/component/backdrop/backdrop.component.scss
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.scss
  projects/movies/src/app/ui/component/star-rating/star-rating.component.scss
  projects/movies/src/app/ui/component/star-rating/star-rating.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: use CSS in favor of aspect-ratio component
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.module.ts
  projects/movies/src/app/ui/token/_aspectRatio.scss
  projects/movies/src/app/ui/token/variables/_aspectRatio.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: separate variables and styles in ui/token
  measures/bundle-size/bundle-size-report.prod.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.module.ts
  projects/movies/src/app/shared/state/router-effects.service.ts
  projects/movies/src/app/ui/component/backdrop/backdrop.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.scss
  projects/movies/src/app/ui/component/form-control/form-comtrol.component.scss
  projects/movies/src/app/ui/component/hamburger-button/hamburger-button.component.scss
  projects/movies/src/app/ui/component/search-bar/search-bar.component.scss
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.scss
  projects/movies/src/app/ui/component/tooltip/_tooltip.scss
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.scss
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.module.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.scss
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.module.ts
  projects/movies/src/app/ui/token/_dark-light-mode.scss
  projects/movies/src/app/ui/token/_typography.scss
  projects/movies/src/app/ui/token/mixins/_flex.scss
  projects/movies/src/app/ui/token/mixins/media.scss
  projects/movies/src/app/ui/token/variables/_animations.scss
  projects/movies/src/app/ui/token/variables/_borderRadius.scss
  projects/movies/src/app/ui/token/variables/_colors.scss
  projects/movies/src/app/ui/token/variables/_fontSize.scss
  projects/movies/src/app/ui/token/variables/_media.scss
  projects/movies/src/app/ui/token/variables/_shadow.scss
  projects/movies/src/app/ui/token/variables/_zIndex.scss
  projects/movies/src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: replace loader component in favour of HTML
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.module.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.html
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.scss
  projects/movies/src/app/pages/movie-list-page/movie-list-page.module.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/pages/person-detail-page/person-detail-page.module.ts
  projects/movies/src/app/ui/component/loader/loader.component.ts
  projects/movies/src/app/ui/component/loader/loader.module.ts
  projects/movies/src/app/ui/component/loader/loader.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove aspect ratio component left overs
  measures/bundle-size/bundle-size-report.prod.html
  projects/movies/src/app/ui/component/aspect-ratio-box/aspect-ratio-box.component.scss
  projects/movies/src/app/ui/component/aspect-ratio-box/aspect-ratio-box.component.ts
  projects/movies/src/app/ui/component/aspect-ratio-box/aspect-ratio-box.module.ts
  projects/movies/src/app/ui/component/aspect-ratio/aspect-ratio.scss
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.scss
  projects/movies/src/app/ui/pattern/movie-list/movie-list.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: split sate and resources into separate files
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/data-access/api/auth.resource.ts
  projects/movies/src/app/data-access/api/configuration.resource.ts
  projects/movies/src/app/data-access/api/discover.resource.ts
  projects/movies/src/app/data-access/api/genre.resource.ts
  projects/movies/src/app/data-access/api/movie.resource.ts
  projects/movies/src/app/data-access/api/person.resource.ts
  projects/movies/src/app/data-access/api/search.resource.ts
  projects/movies/src/app/data-access/api/tmdb2.service.ts
  projects/movies/src/app/data-access/auth/auth.state.interface.ts
  projects/movies/src/app/data-access/auth/auth.state.ts
  projects/movies/src/app/data-access/auth/tmdbAuth.effects.ts
  projects/movies/src/app/data-access/auth/utils.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/shared/state/genre.state.ts
  projects/movies/src/app/shared/state/movie.state.ts
  projects/movies/src/app/shared/state/person.state.ts
  projects/movies/src/app/shared/state/router-effects.service.ts
  projects/movies/src/app/shared/state/search.state.ts
  projects/movies/src/app/shared/state/state.app-initializer.provider.ts
  projects/movies/src/app/shared/state/state.service.ts
Due: prettier --write, tslint --fix

refactor: rename file
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/data-access/auth/auth-state.interface.ts
  projects/movies/src/app/data-access/auth/auth.effects.ts
  projects/movies/src/app/data-access/model/tv-cast.model.ts
  projects/movies/src/app/data-access/model/tv-credits.model.ts
  projects/movies/src/app/data-access/model/tv-crew.model.ts
Due: prettier --write, tslint --fix

refactor: fix import
  projects/movies/src/app/shared/state/router-effects.service.ts
Due: prettier --write, tslint --fix

refactor: rename router files
  measures/bundle-size/bundle-size-report.prod.html
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/data-access/auth/auth.state.ts
  projects/movies/src/app/data-access/auth/utils.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/shared/state/router-state.interface.ts
  projects/movies/src/app/shared/state/router.effects.ts
  projects/movies/src/app/shared/state/router.state.ts
  projects/movies/src/app/shared/state/state.app-initializer.provider.ts
  projects/movies/src/app/shared/state/utils.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
  ts-node -P ./tooling/tsconfig.json ./tooling/squoosh/index.ts -p / -g=wp2: any of: *.{jpg,jpeg}
