Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

refactor: cleanup
  projects/movies/project.json
Due: prettier --write

refactor: cleanup name
  projects/movies/user-flows/movie-details.uf.ts
Due: prettier --write

refactor: add person detail page
  projects/movies/user-flows/person-details.uf.ts
Due: prettier --write

refactor: remove person test from flow
  projects/movies/user-flows/person-details.md
Due: none

docs: document application features 1
  projects/movies/Readme.md
Due: none

Update Readme.md
  projects/movies/Readme.md
Due: none

fix(): load proper list feature routes
  projects/movies/src/app/routes.ts
Due: prettier --write

fix(): fix default posters
  projects/movies/src/app/constants.ts
Due: prettier --write

chore: add affected
  .github/workflows/ci.yml
Due: none

chore: wip affected 1
  .github/workflows/ci.yml
Due: none

chore: wip affected 2
  .github/workflows/ci.yml
Due: none

chore: wip affected 3
  .github/workflows/ci.yml
Due: none

chore: wip affected 4
  .github/workflows/deploy.yml
  projects/cloudflare-worker/project.json
Due: prettier --write

chore: wip affected 5
  .github/workflows/deploy.yml
Due: none

feat: add lint rules to movies app
  projects/movies/.eslintrc.json
Due: prettier --write

fix: test typing
  projects/movies/tsconfig.json
  projects/movies/tsconfig.uf.json
  projects/movies/user-flows/ci-flow.uf.ts
Due: prettier --write

fix: remove deploy action
  .github/workflows/deploy.yml
Due: none

fix: tslint errors
  projects/movies/src/app/data-access/api/resources/account.resource.ts
  projects/movies/src/app/data-access/api/resources/discover.resource.ts
  projects/movies/src/app/data-access/api/staticRequest.ts
  projects/movies/src/app/shared/cdk/infinite-scroll/infinite-scroll.interface.ts
  projects/movies/src/app/shared/cdk/infinite-scroll/infiniteScroll.ts
  projects/movies/src/app/shared/cdk/loading/withLoadingEmissions.ts
  projects/movies/src/app/state/discover.state.ts
  projects/movies/src/app/state/movie.state.ts
  projects/movies/src/app/state/person.state.ts
Due: prettier --write

fix: layout and style errors due to a11y fixes
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/account-menu/account-menu.component.scss
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
Due: prettier --write, stylelint --fix

fix: nx 1
  nx.json
Due: prettier --write

fix: update readmes
  projects/cloudflare-worker/Readme.md
  projects/movies/Readme.md
  projects/ng-universal-express/README.md
Due: none

fix: wip 1
  .github/workflows/ci.yml
Due: none

fix: wip 2
  .github/workflows/ci.yml
Due: none

fix: wip 3
  nx.json
Due: prettier --write

fix: wip 4
  .github/workflows/ci.yml
Due: none

fix: image re-rendering for movie details
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/component/detail-grid/detail-grid.component.ts
Due: prettier --write

feat: add rxa eslint
  projects/movies/.eslintrc.json
Due: prettier --write

feat: add unicorn eslint to universal
  projects/ng-universal-express/.eslintrc.json
Due: prettier --write

fix: eslint errors in universal
  package-lock.json
  package.json
  projects/movies/Readme.md
  projects/ng-universal-express/README.md
  projects/ng-universal-express/jest.config.ts
  projects/ng-universal-express/src/app/utils.ts
  projects/ng-universal-express/src/index.ts
  projects/ng-universal-express/tooling/generate-routes/generate-routes.ts
  projects/ng-universal-express/user-flows/ci-flow.uf.ts
Due: prettier --write

fix: eslint errors in movies
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

fix: add eslint to firebase-function
  projects/firebase-function/.eslintrc.json
Due: prettier --write

fix: fix eslint in firebase-function
  projects/firebase-function/jest.config.ts
  projects/firebase-function/project.json
  projects/firebase-function/src/index.ts
  projects/firebase-function/user-flows/ci-flow.uf.ts
Due: prettier --write

fix: add eslint in cloudflare-worker
  projects/cloudflare-worker/.eslintrc.json
  projects/cloudflare-worker/project.json
Due: prettier --write

fix: fix eslint errors in cloudflare-worker
  projects/cloudflare-worker/src/app/env.token.ts
  projects/cloudflare-worker/src/app/environment.token.ts
  projects/cloudflare-worker/src/app/icon-load.worker.strategy.ts
  projects/cloudflare-worker/src/index.ts
  projects/cloudflare-worker/user-flows/ci-flow.uf.ts
Due: prettier --write

feat: add eslint to docs
  package-lock.json
  package.json
  projects/docs/.eslintrc.json
  projects/docs/project.json
Due: prettier --write
