Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

Persist stats.json bundle-size report and readme
  measures/bundle-size/bundle-size-report.prod.html
Due: prettier --write

refactor: remove custom rxIF and use npm version
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/shared/rxa-custom/actions/proxy.ts
  projects/movies/src/app/shared/rxa-custom/if/ng-package.json
  projects/movies/src/app/shared/rxa-custom/if/src/index.ts
  projects/movies/src/app/shared/rxa-custom/if/src/lib/if.directive.ts
  projects/movies/src/app/shared/rxa-custom/if/src/lib/if.module.ts
  projects/movies/src/app/shared/rxa-custom/if/src/lib/model/index.ts
  projects/movies/src/app/shared/rxa-custom/if/src/lib/model/template-names.ts
  projects/movies/src/app/shared/rxa-custom/if/src/lib/model/view-context.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

refactor: fix ngSrc errors
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

refactor: update universal to 16
  package-lock.json
  package.json
Due: prettier --write

refactor: remove -f form ci installs to get errors early
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/user-flows-ci.yml
Due: none

refactor: remove -f form ci installs to get errors early and npm i
  package-lock.json
  package.json
Due: prettier --write

refactor: add lock package json
  package-lock.json
Due: prettier --write

refactor: add overwrites
  package-lock.json
  package.json
Due: prettier --write

refactor: update ngx-fast-svg
  package-lock.json
  package.json
Due: prettier --write

fix: add onStable delay
  projects/movies/src/app/shared/zone-less/noop-zone.ts
Due: prettier --write

refactor: adopt overrides
  package.json
Due: prettier --write

refactor: updated to ng 16-rc.0
  package-lock.json
  package.json
Due: prettier --write

refactor: updated rxa/template
  package.json
Due: prettier --write

refactor: updated rxa/template
  package-lock.json
  package.json
Due: prettier --write

fix: images loading
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

fix: manual images loading
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

fix: SEO minimal font size of 12px
  projects/movies/src/app/ui/token/variables/_fontSize.scss
Due: prettier --write, stylelint --fix

fix: a11y movie detail page
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.scss
  projects/movies/src/app/ui/component/button/_button.scss
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.scss
  projects/movies/src/app/ui/token/_dark-light-mode.scss
Due: prettier --write, stylelint --fix

fix: a11y person detail page
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/token/_typography.scss
Due: prettier --write, stylelint --fix

refactor: add budgets and configs
  projects/movies-user-flows/src/configs/detail.budgets.json
  projects/movies-user-flows/src/configs/general-timing.budgets.json
  projects/movies-user-flows/src/configs/test-set.json
Due: prettier --write

refactor: adjunst tests
  projects/movies-user-flows/.user-flowrc.ci-csr.json
  projects/movies-user-flows/src/internals/test-sets.ts
  projects/movies-user-flows/src/ufo/ci-flow.uf.ts
  projects/movies-user-flows/src/user-flows/navigation.uf.ts
Due: prettier --write

refactor: remove scripts
  package.json
Due: prettier --write

refactor: update user-flow gh action
  .github/workflows/user-flows-ci.yml
Due: none
