Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

.lintstagedrc.json:

{
  "*.ts": ["prettier --write"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"],
  "*.{jpg,jpeg}": ["npx @squoosh/cli --wp2 auto "],
  "*.png": ["npx @squoosh/cli  --oxipng '{\"level\":2,\"interlace\":false}' "],
  "*.svg": ["npx svgo -i "]
}

chore(movies): add padding to icons
  projects/movies/src/app/ui/component/icons/icon.stories.ts
Due: prettier --write

chore(movies): add missing space
  projects/movies/src/app/ui/component/icons/icon.stories.ts
Due: prettier --write

chore(movies): add sidebar story
  projects/movies/src/app/ui/component/side-drawer/side-drawer.stories.ts
Due: prettier --write

chore(movies): add args type to star rating
  projects/movies/src/app/ui/pattern/star-rating/star-rating.stories.ts
Due: prettier --write

refactor: edit docs
  README.md
Due: none

refactor: update package.lock
  package-lock.json
Due: prettier --write

refactor: update package.lock
  README.md
  tsconfig.base.json
Due: prettier --write

chore(movies): improve decorators
  projects/movies/.storybook/decorators.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.stories.ts
  projects/movies/src/app/ui/component/hamburger-button/hamburger-button.stories.ts
Due: prettier --write

chore(movies): remove comments
  projects/movies/.storybook/main.ts
Due: prettier --write

chore(movies): add chromatic to ci
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
Due: prettier --write

chore(movies): remove ci jobs
  .github/workflows/ci.yml
  .github/workflows/cloudflare-hosting-pr.yml
  .github/workflows/docs-hosting-m.yml
  .github/workflows/firebase-deploy-m.yml
  .github/workflows/firebase-function-pr.yml
  .github/workflows/firebase-hosting-pr.yml
  .github/workflows/ng-universal-pr.yml
Due: none

chore(movies): fix ci init deps
  .github/workflows/chromatic.yml
Due: none

chore(movies): deploy assets
  projects/movies/project.json
Due: prettier --write

chore(movies): modify preview
  projects/movies/.storybook/preview.ts
  projects/movies/project.json
  projects/movies/src/app/ui/component/icons/icon.stories.ts
Due: prettier --write

chore(movies): ci test
  projects/movies/.storybook/preview.ts
Due: prettier --write

chore(movies): remove breaking test
  projects/movies/src/app/ui/component/icons/icon.stories_.ts
Due: prettier --write

refactor: wip
  .github/workflows/ci.yml
Due: none

refactor: update package-lock.json
  package-lock.json
Due: prettier --write

refactor: updated package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

styles(movies): star rating scaling
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write

styles(movies): testing color schemes
  projects/movies/.storybook/decorators.ts
  projects/movies/.storybook/preview.ts
  projects/movies/src/app/ui/token/_dark-light-mode.scss
  projects/movies/src/app/ui/token/colors/__scheme-dark.scss
  projects/movies/src/app/ui/token/colors/__scheme-light.scss
  projects/movies/src/app/ui/token/colors/_color-scheme.scss
  projects/movies/src/app/ui/token/colors/_primitives.scss
  projects/movies/src/app/ui/token/colors/colors.dark.mdx
  projects/movies/src/app/ui/token/colors/colors.light.mdx
  projects/movies/src/app/ui/token/colors/colors.mdx
Due: prettier --write, stylelint --fix

Revert "styles(movies): testing color schemes"
  projects/movies/.storybook/decorators.ts
  projects/movies/.storybook/preview.ts
  projects/movies/src/app/ui/token/_dark-light-mode.scss
  projects/movies/src/app/ui/token/colors/__scheme-dark.scss
  projects/movies/src/app/ui/token/colors/__scheme-light.scss
  projects/movies/src/app/ui/token/colors/_color-scheme.scss
  projects/movies/src/app/ui/token/colors/_primitives.scss
  projects/movies/src/app/ui/token/colors/colors.dark.mdx
  projects/movies/src/app/ui/token/colors/colors.light.mdx
  projects/movies/src/app/ui/token/colors/colors.mdx
Due: prettier --write, stylelint --fix

styles(movies): document component tokens
  package-lock.json
  package.json
  projects/movies/.storybook/main.ts
  projects/movies/src/app/ui/token/_dark-light-mode.scss
  projects/movies/src/app/ui/token/colors.mdx
Due: prettier --write, stylelint --fix

chore: update to v17rc
  .gitignore
  .prettierignore
  migrations.json
  nx.json
  package-lock.json
  package.json
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
Due: prettier --write

chore: rever defer usage
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
Due: prettier --write

refactor(movies): update packages
  .gitignore
  .prettierignore
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

refactor(movies): refactor to latest rxA
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.base.config.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-share/list-share.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/routes.ts
  projects/movies/src/app/shared/cdk/element-visibility/element-visibility.directive.ts
  projects/movies/src/app/shared/cdk/image/constants.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.directive.ts
  projects/movies/src/app/shared/cdk/platform.helper.ts
  projects/movies/src/app/shared/router/router.state.ts
  projects/movies/src/app/shared/zone-less/zone-less-routing.service.ts
  projects/movies/src/app/state/account.state.ts
  projects/movies/src/app/state/discover.state.ts
  projects/movies/src/app/state/list.state.ts
  projects/movies/src/app/state/movie.state.ts
  projects/movies/src/app/state/person.state.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

refactor(movies): fix package.json overwrites
  package-lock.json
  package.json
Due: prettier --write

refactor(movies): fix effect
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
Due: prettier --write

refactor(movies): fix effect 2
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
Due: prettier --write

refactor(movies): use afterNextRender
  projects/movies/project.json
  projects/movies/src/app/auth/access-token-facade.service.ts
  projects/movies/src/app/auth/auth.effects.ts
  projects/movies/src/app/shared/cdk/element-visibility/element-visibility.directive.ts
  projects/movies/src/app/shared/cdk/platform.helper.ts
  projects/movies/src/app/shared/zone-less/zone-less-routing.service.ts
  projects/movies/src/app/state/account.state.ts
Due: prettier --write

refactor(movies): nx format
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/auth/access-token-facade.service.ts
  projects/movies/src/app/auth/auth.effects.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/routes.ts
  projects/movies/src/app/shared/cdk/element-visibility/element-visibility.directive.ts
  projects/movies/src/app/shared/cdk/lazy/lazy.directive.ts
  projects/movies/src/app/shared/router/router.state.ts
  projects/movies/src/app/shared/zone-less/zone-less-routing.service.ts
  projects/movies/src/app/state/account.state.ts
  projects/movies/src/app/state/discover.state.ts
  projects/movies/src/app/state/list.state.ts
  projects/movies/src/app/state/movie.state.ts
  projects/movies/src/app/state/person.state.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write

refactor(movies): remove user-flows
  package.json
Due: prettier --write

refactor(movies): remove ngswConfigPath prop
  projects/movies/project.json
Due: prettier --write

refactor(movies): actions 1
  .github/workflows/firebase-function-pr.yml
  .github/workflows/firebase-hosting-pr.yml
Due: none

refactor(movies): update user flow
  package-lock.json
  package.json
Due: prettier --write

chore(movies): start command in package.json was broken
  package.json
Due: prettier --write

refactor(movies): convert to new template syntax
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write

refactor(movies): remove trackByIndex
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write
