Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --quiet --fix"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"]
}

chore: reduce ci
  .github/workflows/ci.yml
Due: none

chore: npx nx migrate 18
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: npx @angular/cli update
  package-lock.json
  package.json
  projects/cloudflare-worker/src/app/icon-load.worker.strategy.ts
  projects/movies/project.json
  projects/movies/src/app/app.config.ts
  projects/movies/src/app/shared/ssr/icon-load.ssr.strategy.ts
  projects/movies/src/main.server.ts
Due: prettier --write, eslint --quiet --fix

chore: fix lint
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/auth/access-token-facade.service.ts
  projects/movies/src/app/auth/auth.effects.ts
  projects/movies/src/app/data-access/api/resources/account.resource.ts
  projects/movies/src/app/data-access/api/resources/authv4.resource.ts
  projects/movies/src/app/data-access/api/resources/discover.resource.ts
  projects/movies/src/app/data-access/api/resources/genre.resource.ts
  projects/movies/src/app/data-access/api/resources/movie.resource.ts
  projects/movies/src/app/pages/account-feature/account-feature-page.routes.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.adapter.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/state/state-app-initializer.provider.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
Due: prettier --write, eslint --quiet --fix

chore: fix npm i, add .nvmrc
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

chore: nx migrate, ng update
  package-lock.json
  package.json
  projects/movies/server.ts
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.component.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/pages/not-found-page/not-found-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
  projects/movies/src/main.server.ts
Due: prettier --write, eslint --quiet --fix

chore: fix npm ci
  package-lock.json
  package.json
Due: prettier --write

chore: nx migrate 20
  package-lock.json
  package.json
Due: prettier --write

chore: ng update @angular/cli@19
  package-lock.json
  package.json
  projects/movies/server.ts
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.component.ts
  projects/movies/src/app/pages/account-feature/account-list-page/account-list-page.component.ts
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.ts
  projects/movies/src/app/pages/not-found-page/not-found-page.component.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write, eslint --quiet --fix

chore: npm
  .nvmrc
  package.json
Due: prettier --write

Potential fix for pull request finding
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.css
Due: none

chore: update
  nx.json
  package-lock.json
  package.json
  projects/cloudflare-worker/project.json
  projects/movies/project.json
  projects/movies/src/app/app.config.ts
Due: prettier --write, eslint --quiet --fix

Potential fix for pull request finding
  nx.json
Due: prettier --write

Potential fix for pull request finding
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
Due: prettier --write, eslint --quiet --fix

chore: fix npm i
  .github/workflows/ci.yml
Due: none

chore: fix npm i
  package-lock.json
  package.json
Due: prettier --write

chore: ng update @angular/cli
  package-lock.json
  package.json
  projects/movies/src/main.server.ts
Due: prettier --write, eslint --quiet --fix

chore: ng update
  package-lock.json
  package.json
Due: prettier --write

chore: ng migrations
  projects/movies/project.json
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.component.html
  projects/movies/src/app/pages/account-feature/list-detail-page/list-movies/list-movies.component.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-remove/list-remove.component.ts
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.ts
  projects/movies/src/app/pages/not-found-page/not-found-page.component.ts
  projects/movies/src/app/shared/cdk/element-visibility/element-visibility.directive.ts
  projects/movies/src/app/ui/component/detail-grid/detail-grid.component.ts
  projects/movies/src/app/ui/component/grid-list/grid-list.component.ts
  projects/movies/src/app/ui/component/search-bar/search-bar.component.ts
  projects/movies/src/app/ui/component/side-drawer/side-drawer.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
  tsconfig.base.json
Due: prettier --write, eslint --quiet --fix

Potential fix for pull request finding
  projects/movies/src/app/ui/pattern/star-rating/star-rating.component.ts
Due: prettier --write, eslint --quiet --fix

refactor: fix login
  nx.json
  package.json
  projects/movies/project.json
  projects/movies/src/app/auth/auth.effects.ts
Due: prettier --write, eslint --quiet --fix

refactor: fix lint, test
  .github/workflows/ci.yml
  jest.preset.cjs
  nx.json
  package-lock.json
  projects/cloudflare-worker/project.json
  projects/docs/project.json
  projects/firebase-function/jest.config.ts
  projects/firebase-function/project.json
  projects/test-selectors/jest.config.ts
  projects/test-selectors/project.json
Due: prettier --write, eslint --quiet --fix

refactor: fix builds
  README.md
  package-lock.json
  package.json
  projects/cloudflare-worker/project.json
  projects/cloudflare-worker/src/app/bootstrap.ts
  projects/cloudflare-worker/src/main.server.ts
  projects/cloudflare-worker/src/worker.ts
  projects/cloudflare-worker/tooling/bundle.mjs
  projects/cloudflare-worker/tooling/prepare-worker.mjs
  projects/cloudflare-worker/tsconfig.worker.json
  projects/docs/project.json
  projects/docs/tooling/bundle-stats/commands/update-docs.ts
  projects/docs/tooling/bundle-stats/utils.ts
  projects/docs/tooling/package.json
  projects/docs/tsconfig.tooling.json
  tooling/package.json
Due: prettier --write, eslint --quiet --fix

refactor: fix builds
  README.md
Due: none

refactor: fix npm ci
  README.md
  package-lock.json
  package.json
  projects/docs/src/static/BASE_README.md
  projects/docs/tooling/bundle-stats/commands/update-docs.ts
  projects/docs/tooling/bundle-stats/utils.ts
Due: prettier --write, eslint --quiet --fix

Potential fix for pull request finding
  README.md
Due: none

Potential fix for pull request finding
  .github/workflows/ci.yml
Due: none

refactor: fix docs update
  .github/workflows/ci.yml
  README.md
  projects/docs/tooling/bundle-stats/commands/update-docs.ts
Due: prettier --write, eslint --quiet --fix

chore: fix npm ci
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

chore: fix npm ci
  .nvmrc
  README.md
  package-lock.json
  package.json
  scripts/with-node.sh
Due: prettier --write

chore: fix npm ci
  .github/workflows/ci.yml
  projects/movies/playwright.config.ts
  scripts/with-node.sh
Due: prettier --write, eslint --quiet --fix

build(movies): update to ng22
  .eslintrc.json
  .npmrc
  .nvmrc
  eslint.config.mjs
  nx.json
  package-lock.json
  package.json
  projects/cf-worker/eslint.config.mjs
  projects/cf-worker/project.json
  projects/cf-worker/src/angular-app-engine-manifest.d.mts
  projects/cf-worker/src/icon-load.cf.strategy.ts
  projects/cf-worker/src/server.ts
  projects/cf-worker/tsconfig.app.json
  projects/cf-worker/tsconfig.json
  projects/cf-worker/wrangler.jsonc
  projects/cloudflare-worker/.eslintrc.json
  projects/cloudflare-worker/eslint.config.mjs
  projects/cloudflare-worker/project.json
  projects/docs/.eslintrc.json
  projects/docs/eslint.config.mjs
  projects/docs/project.json
  projects/firebase-function/.eslintrc.json
  projects/firebase-function/eslint.config.mjs
  projects/firebase-function/project.json
  projects/movies-user-flows/.eslintrc.json
  projects/movies-user-flows/eslint.config.mjs
  projects/movies/.eslintrc.json
  projects/movies/eslint.config.mjs
  projects/movies/project.json
  projects/movies/src/app/app.config.ts
  projects/movies/src/app/pages/account-feature/account-feature-page.routes.ts
  projects/movies/src/app/pages/person-detail-page/person-detail-page.component.html
  projects/movies/src/app/ui/.eslintrc.json
  projects/movies/src/app/ui/eslint.config.mjs
  projects/movies/tsconfig.app.json
  projects/test-selectors/.eslintrc.json
  projects/test-selectors/eslint.config.mjs
  projects/test-selectors/project.json
  tsconfig.base.json
  worker-configuration.d.ts
Due: prettier --write, eslint --quiet --fix

refactor(movies): move cf-worker config into movies project
  migrations.json
  projects/cf-worker/eslint.config.mjs
  projects/cf-worker/project.json
  projects/cf-worker/tsconfig.app.json
  projects/cf-worker/tsconfig.json
  projects/movies/angular-app-engine-manifest.d.mts
  projects/movies/project.json
  projects/movies/server.cf.ts
  projects/movies/src/app/shared/ssr/icon-load.cf.strategy.ts
  projects/movies/tsconfig.cf.json
  projects/movies/wrangler.jsonc
Due: prettier --write, eslint --quiet --fix

refactor(movies): migrate SSR to AngularAppEngine for Cloudflare Workers
  .gitignore
  projects/movies/project.json
  projects/movies/server.cf.ts
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.component.ts
  projects/movies/src/app/app.config.server.ts
  projects/movies/src/app/app.config.ts
  projects/movies/src/app/app.routes.server.ts
  projects/movies/src/app/auth/tmdb-http-interceptor.feature.ts
  projects/movies/src/app/data-access/api/resources/movie.resource.ts
  projects/movies/src/app/pages/account-feature/account-feature-page.routes.ts
  projects/movies/src/app/pages/movie-list-page/movie-list-page.adapter.ts
  projects/movies/src/app/routes.ts
  projects/movies/src/app/shared/router/router.state.ts
  projects/movies/src/app/shared/ssr/icon-load.cf.strategy.ts
  projects/movies/src/app/shared/ssr/icon-load.ssr.strategy.ts
  projects/movies/src/app/shared/zone-less/is-zone-present.ts
  projects/movies/src/app/shared/zone-less/zone-less-routing.service.ts
  projects/movies/src/app/state/discover.state.ts
  projects/movies/src/app/state/movie.state.ts
  projects/movies/src/app/state/person.state.ts
  projects/movies/src/main.ts
Due: prettier --write, eslint --quiet --fix

build(movies): configure CF Worker SSR host allowlist and env vars
  projects/movies/server.cf.ts
  projects/movies/src/app/app.config.ts
  projects/movies/wrangler.jsonc
Due: prettier --write, eslint --quiet --fix

perf(movies): cache SSR pages in Workers KV for 2 minutes
  projects/movies/project.json
  projects/movies/server.cf.ts
  projects/movies/src/build-id.ts
  projects/movies/tsconfig.cf.json
  projects/movies/wrangler.jsonc
  scripts/generate-build-id.mjs
Due: prettier --write, eslint --quiet --fix

perf(movies): update ssr cache id
  projects/movies/wrangler.jsonc
Due: none
