Repository tastejs/angular-movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, npx @squoosh/cli --wp2 auto, npx @squoosh/cli --oxipng '{"level":2,"interlace":false}', npx svgo -i

refactor(movies): update deps
  package-lock.json
  package.json
Due: prettier --write

chore: fix typo in readme
  projects/movies/Readme.md
Due: none

chore: fix typo in readme (#283)
  projects/movies/Readme.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#284)
  README.md
Due: none

refactor(movies): update to node 20
  .github/unfinished/cf-pull-request.yml
  .github/unfinished/user-flows-ci.yml
  .github/workflows/ci.yml
  .github/workflows/cloudflare-hosting-pr.yml
  .github/workflows/docs-hosting-m.yml
  .github/workflows/firebase-deploy-m.yml
  .github/workflows/firebase-function-pr.yml
  .github/workflows/firebase-hosting-pr.yml
  .github/workflows/ng-universal-pr.yml
  package.json
Due: prettier --write

feat: use defer block, convert to signals, fix icons in ssr, update versions, enable zoneless, enable view transition api
  package-lock.json
  package.json
  projects/movies/project.json
  projects/movies/server.ts
  projects/movies/src/app/app-shell/account-menu/account-menu.component.html
  projects/movies/src/app/app-shell/account-menu/account-menu.component.ts
  projects/movies/src/app/app-shell/app-shell.component.html
  projects/movies/src/app/app-shell/app-shell.component.scss
  projects/movies/src/app/app-shell/app-shell.component.ts
  projects/movies/src/app/app.config.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-image/list-image.component.html
  projects/movies/src/app/pages/movie-detail-page/movie-detail-page.component.html
  projects/movies/src/app/pages/movie-list-page/movie-list-page.component.html
  projects/movies/src/app/pages/person-detail-page/person-detail-page.adapter.ts
  projects/movies/src/app/shared/ssr/icon-load.ssr.strategy.ts
  projects/movies/src/app/state/person.state.ts
  projects/movies/src/app/ui/component/dark-mode-toggle/dark-mode-toggle.component.ts
  projects/movies/src/app/ui/pattern/movie-list/movie-list.component.ts
Due: prettier --write, stylelint --fix

refactor(movies): rxState migration property access before declared
  projects/movies/src/app/pages/account-feature/list-create-page/list-create-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-detail-page.adapter.ts
  projects/movies/src/app/pages/account-feature/list-detail-page/list-items-edit/list-items-edit.adapter.ts
  projects/movies/src/app/shared/ssr/icon-load.ssr.strategy.ts
  projects/movies/src/app/state/account.state.ts
Due: prettier --write

refactor(movies): update firebase packages
  package-lock.json
  package.json
Due: prettier --write

fix: comment out server.ts run part
  projects/movies/server.ts
Due: prettier --write

fix: enable prerendering
  projects/movies/project.json
Due: prettier --write

refactor(movies): package lock after merge
  package-lock.json
Due: prettier --write

chore(movies): update dependencies for fix start
  package.json
Due: prettier --write

refactor(movies): migrate functions to esbuild
  package.json
  projects/firebase-function/project.json
  projects/firebase-function/src/index.ts
  projects/firebase-function/tsconfig.function.json
  projects/movies/server.ts
Due: prettier --write

refactor(movies): rename commintlint config suffix to keep it using commonjs
  .github/CONTRIBUTING.MD
  commitlint.config.cjs
  firebase.function.json
  firebase.json
  projects/docs/resources/setup-git-hooks.md
Due: prettier --write

refactor(movies): merge two firebase configurations
  firebase.function.json
  firebase.json
  projects/firebase-function/Readme.md
Due: prettier --write

refactor(movies): remove local run that executes by default and messes up functions serving
  projects/movies/server.ts
Due: prettier --write

fix: remove unused ci workflows
  .github/workflows/cloudflare-hosting-pr.yml
  .github/workflows/ng-universal-pr.yml
Due: none

chore: upgrade to v18
  .gitignore
  .lintstagedrc.json
  .prettierignore
  migrations.json
  nx.json
  package-lock.json
  package.json
  projects/cloudflare-worker/project.json
  projects/firebase-function/project.json
  projects/firebase-function/webpack.config.js
  projects/movies-user-flows/project.json
  projects/movies/project.json
  projects/movies/src/app/auth/tmdb-http-interceptor.feature.ts
  projects/movies/src/app/data-access/api/resources/account.resource.ts
  projects/movies/src/app/data-access/api/resources/authv4.resource.ts
  projects/movies/src/app/data-access/api/resources/discover.resource.ts
  projects/movies/src/app/data-access/api/resources/genre.resource.ts
  projects/movies/src/app/data-access/api/resources/movie.resource.ts
  projects/movies/src/app/data-access/api/tmdbContentTypeInterceptor.ts
  projects/movies/src/app/pages/account-feature/account-feature-page.routes.ts
  projects/ng-universal-express/project.json
Due: prettier --write

chore: fix ci
  .github/workflows/ci.yml
Due: none

chore: fix ci
  package-lock.json
  package.json
  projects/cloudflare-worker/.eslintrc.json
  projects/firebase-function/.eslintrc.json
  projects/firebase-function/src/index.ts
  projects/firebase-function/tooling/utils.ts
  projects/ng-universal-express/.eslintrc.json
  projects/ng-universal-express/src/app/app.config.ts
  projects/ng-universal-express/tooling/generate-routes/generate-routes.impl.ts
  projects/ng-universal-express/tooling/generate-routes/generate-routes.spec.ts
Due: prettier --write

chore: fix build
  README.md
  nx.json
  projects/cloudflare-worker/src/index.ts
  projects/firebase-function/project.json
  projects/ng-universal-express/src/app/http-timing.interceptor.ts
  projects/ng-universal-express/src/index.ts
Due: prettier --write

chore(movies): update to nx
  jest.config.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore(movies): fix deps
  package-lock.json
  package.json
Due: prettier --write

chore(movies): fix deps
  package-lock.json
Due: prettier --write

chore(movies): fix deps
  projects/cloudflare-worker/project.json
  projects/docs/project.json
  projects/firebase-function/project.json
  projects/ng-universal-express/project.json
  projects/test-selectors/project.json
Due: prettier --write

chore(movies): fix deps
  package-lock.json
  package.json
  projects/cloudflare-worker/project.json
Due: prettier --write

chore(movies): ignore wrangler
  .gitignore
Due: none

chore: npm i
  .nx/workspace-data/32920126-4F7E-530A-B7B3-BB04969A6696.db
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
Due: prettier --write

chore: disable GH actions
  .github/unfinished/firebase-deploy-m.yml
  .github/unfinished/firebase-function-pr.yml
  .github/unfinished/firebase-hosting-pr.yml
  .github/workflows/ci.yml
Due: none

chore: ng update hack add
  angular.json
Due: prettier --write

chore: nx migrate
  .gitignore
Due: none

chore: nx migrate
  .nx/workspace-data/32920126-4F7E-530A-B7B3-BB04969A6696.db
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
Due: prettier --write

chore: reduce ci gh action
  .github/workflows/ci.yml
  .gitignore
  _angular.json
  package-lock.json
  package.json
Due: prettier --write

chore: reduce ci gh action
  _angular.json
Due: prettier --write

chore: bump budgets
  projects/movies/project.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  stylelint --fix: any of: *.scss
  npx @squoosh/cli --wp2 auto: any of: *.{jpg,jpeg}
  npx @squoosh/cli --oxipng '{"level":2,"interlace":false}': any of: *.png
  npx svgo -i: any of: *.svg
